.App {
  background: #e5e5e5;
  margin: 0;
}

.top-bar {
  margin-bottom: 60px;
  /* background-color: #134b8a; */

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 100%;
  height: 60px;
  position: absolute;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
h5 {
  width: 104px;
  height: 32px;
  margin: 20px;
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 133.4%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.filterandsearch {
  display: flex;
  justify-content: right;
  margin-right: 170px;
}
.search-bar {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
  width: 400px;
  height: 40px;
  padding-left: 15px;
  margin: 21px;
  background: #ffffff;
  border: 1px solid #134b8a;
  border-radius: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 36px;
  margin-left: 42px;
}

.stock-container {
  height: 240px;
  width: 400px;
  left: 132px;
  top: 140px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.content-header {
  display: inline-flex;
}
.place-photo {
  width: 60px;
  height: 60px;
  margin-left: 21px;
  margin-top: 17px;
  margin-right: 16px;
  border-radius: 10px;
}
.time-and-rating {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.place {
  width: 283px;
  height: 29px;
  margin-top: 14px;

  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */

  letter-spacing: 0.15px;

  /* Meprakun/black-1 */

  color: rgba(0, 0, 0, 0.87);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.food-container {
  width: 360px;
  height: 120px;
  margin: 20px;
}

.food1 {
  width: 120px;
  height: 120px;
  border-radius: 10px 0px 0px 10px;
}

.food2 {
  width: 120px;
  height: 120px;
}

.food3 {
  width: 120px;
  height: 120px;
  border-radius: 0px 10px 10px 0px;
}
